<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>poolConfig</param-name>
        <param-value>
            jdbcDriver=com.mysql.jdbc.Driver
            jdbcUrl=jdbc:mysql://localhost:3306/guestbook?characterEncoding=utf8
            dbUser=jspexam
            dbPw=Jsppw#1234
            poolName=guestbook
        </param-value>
    </context-param>

    <filter>
        <filter-name>LoginCheck</filter-name>
        <filter-class>filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheck</filter-name>
        <url-pattern>/chap19/board/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NullParameter</filter-name>
        <filter-class>filter.NullParameterFilter</filter-class>
        <init-param>
            <param-name>parameterNames</param-name>
            <param-value>id,name</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>NullParameter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ControllerUsingURI</servlet-name>
        <servlet-class>mvc.hello.ControllerUsingURI</servlet-class>
        <init-param>
            <param-name>configFile</param-name>
            <param-value>/WEB-INF/commandHandlerURI.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ControllerUsingFile</servlet-name>
        <servlet-class>mvc.hello.ControllerUsingFile</servlet-class>
        <init-param>
            <param-name>configFile</param-name>
            <param-value>/WEB-INF/commandHandler.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>SimpleController</servlet-name>
        <servlet-class>mvc.simple.SimpleController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DBCPInit2</servlet-name>
        <servlet-class>servlet.DBCPInit2</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUrl</param-name>
            <param-value>jdbc:mysql://localhost:3306/chap14?CharacterEncoding=utf8</param-value>
        </init-param>
        <init-param>
            <param-name>dbUser</param-name>
            <param-value>jspexam</param-value>
        </init-param>
        <init-param>
            <param-name>dbPw</param-name>
            <param-value>Jsppw#1234</param-value>
        </init-param>
        <init-param>
            <param-name>poolName</param-name>
            <param-value>chap14</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>mysqlDriverLoader</servlet-name>
        <servlet-class>jdbc.MySQLDriverLoader</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DBCPInit</servlet-name>
        <servlet-class>jdbc.DBCPInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- servlet-mapping -->

    <servlet-mapping>
        <servlet-name>ControllerUsingURI</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ControllerUsingFile</servlet-name>
        <url-pattern>/controllerUsingFile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SimpleController</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DBCPInit2</servlet-name>
        <url-pattern>/dbcp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mysqlDriverLoader</servlet-name>
        <url-pattern>/dl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBCPInit</servlet-name>
        <url-pattern>/dbcp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>now</servlet-name>
        <servlet-class>servlet.NowServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>now</servlet-name>
        <url-pattern>/now</url-pattern>
    </servlet-mapping>


</web-app>
